GRAN_TURISMO_SESSION_STORE=firestore
GRAN_TURISMO_SESSION_COLLECTION=systemState
GRAN_TURISMO_SESSION_DOCUMENT=granTurismoSession

GRAN_TURISMO_BROWSER_TYPE=chromium
GRAN_TURISMO_BROWSER_EXECUTABLE_PATH=/usr/bin/google-chrome-stable
GRAN_TURISMO_BROWSER_PROFILE_DIR=/var/lib/gtstats/gran-turismo/browser-profile
GRAN_TURISMO_REGION=au

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
